<div class="container">
  <div class="row">
    <h3  class="mb-4">いいねした投稿一覧<i class="fas fa-dog"></i>（全<%= @favorite_reviews.count %>件）</h3>
      <% @favorite_reviews.each do |review| %> 
        <%= link_to customer_path(review.customer.id) do %>
          <%= review.customer.name %>
        <% end %>
        <%= image_tag review.get_image(200, 200) %>
        <%= review.item_name %>
        <%= review.item_price.to_s(:delimited) %>円
        <div id="favorite_<%= review.id %>">
          <%= render "favorites/favorite", review: review %>
        </div>
        <%= render "reviews/rate", review: review %>
        <%= link_to "レビューを見る", review_path(review.id) %>
     <% end %>
  </div>
</div>