<div class="container">
  <h2 class="title mb-4"><i class="fas fa-paw"></i>会員登録情報<i class="fas fa-paw"></i></h2>
  <div class="row">
    <div class="col-md-3">
      <table class="table">
        <tr>
          <th>名前</th>
          <td><%= @customer.name %></td>
        </tr>
        <tr>
          <th>自己紹介</th>
          <td><%= @customer.introduction %></td>
        </tr>
      </table>
      <div class="row">
        <% if @customer == current_customer %>
         <div class="mx-auto">
          <%= link_to "編集する", edit_customer_path(@customer), class: "btn btn-success" %>
         </div>
         <div class="mx-auto">
          <%= link_to "いいねした投稿", favorites_customer_path(@customer), class: "btn btn-danger" %>
         </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-9">
      <h4 class="subtitle">投稿したレビュー一覧<i class="fas fa-dog"></i></h4>
      <% @reviews.each do |review| %>
        <div id="favorite_<%= review.id %>">
          <%= render "public/favorites/favorite", review: review %>
        </div>
        <%= image_tag review.get_image(200, 200) %><br>
        <%= review.item_name %><br>
        <%= review.item_price.to_s(:delimited) %>円
        <%= render "public/reviews/rate", review: review %>
        <%= link_to "レビューを見る", review_path(review.customer.id), class: "btn btn-warning" %>
      <% end %>
      <%= paginate @reviews %>
    </div>
  </div>
</div>