<div class="container">
 <h3 class="title mb-4"><i class="fas fa-paw"></i>会員登録情報<i class="fas fa-paw"></i></h3>
 <div class="row">
  <div class="col-lg-3">
   <table class="table">
    <tr>
     <th>名前</th>
     <td><%= @customer.name %></td>
    </tr>
    <tr>
     <th>自己紹介</th>
     <td><%= @customer.introduction %></td>
    </tr>
    </table>
    <% if @customer == current_customer %>
     <div class="mx-auto mb-3">
      <%= link_to "編集する", edit_customer_path(@customer), class: "btn btn-success" %>
     </div>
     <div class="mx-auto">
      <%= link_to "いいねした投稿", favorites_customer_path(@customer), class: "btn btn-danger" %>
     </div>
    <% end %>
  </div>
  <div class="col-lg-9 mt-4">
   <h5 class="subtittle">投稿したレビュー一覧</h5>
   <table class="table">
     <% @reviews.each do |review| %>
      <tr>
       <td id="favorite_<%= review.id %>"><%= render "public/favorites/favorite", review: review %></td>
       <td class="image"><%= image_tag review.get_image(200, 200) %></td>
       <td><%= review.item_name %><br>¥<%= review.item_price.to_s(:delimited) %><br><%= render "public/reviews/rate", review: review %><br><%= link_to "レビューを見る", review_path(review.id), class: "btn btn-warning" %></td>
     </tr>
    <% end %>
   </table>
   <div class="mb-5">
    <%= paginate @reviews %>
   </div>
  </div>
 </div>
</div>