<div class="container">
   <div class="form-row">
     <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto">
       <h3><%= @customer.name %>さんの会員情報編集</h3>
       <%= form_with model: @customer, url: admin_customer_path, local: true do |f| %>
        <%= render 'layouts/error_messages', model: form.object %>
          <div class="form-group row">
            <label for="inputid">会員ID</label>
            <%= @customer.id  %>
          </div>
          <div class="form-group row">
            <label for="inputname">名前</label>
            <%= f.text_field :name, autofocus: true, class: "form-control" %>
          </div>
          <div class="form-group row">
            <label for="inputemail">メールアドレス</label>
            <%= f.text_field :email, class: "form-control" %>
          </div>
          <div class="form-group row">
            <label for="inputintroduction">自己紹介文</label>
            <%= f.text_area :introduction, class: "form-control" %>
          </div>
          <div class="form-group row">
           <label for="inputis_deleted">会員ステータス</label>
           <div>
            <%= f.radio_button :is_deleted, false %>
            <%= f.label :is_deleted, "有効" %>
            <%= f.radio_button :is_deleted, true %>
            <%= f.label :is_deleted, "退会" %>
           </div>
          </div>
          <div class="text-center"> 
            <%= f.submit "変更を保存する", class: "btn btn-success" %>
          </div>
       <% end %>
     </div>
   </div>
</div>