<div class="container">
  <h2 class="mb-4">会員登録情報</h2>
    <div class="row">
      <div class="col-md-3">
        <table>
          <tr>
            <th>会員ID</th>
            <td><%= @customer.id %></td>
          </tr>
          <tr>
            <th>名前</th>
            <td><%= @customer.name %></td>
          </tr>
          <tr>
            <th>自己紹介</th>
            <td><%= @customer.introduction %></td>
          </tr>
          <tr>
            <th>会員ステータス</th>
            <td><% if @customer.is_deleted == false %>
                 <%= "有効" %>
                <% else %>
                 <%= "退会" %>
                <% end %>
            </td>
          </tr>
        </table>
        <div class="my-4 ml-3">
          <%= link_to "編集する", edit_admin_customer_path(@customer), class: "btn btn-success" %>
        </div>
      </div>
      <div class="col-md-9">
        <h4 class="mb-3">投稿されたレビュー一覧</h4>
        <% @reviews.each do |review| %>
          <%= image_tag review.get_image(200, 200) %><br>
          <%= review.item_name %><br>
           <%= review.item_price.to_s(:delimited) %>円
          <%= render "public/reviews/rate", review: review %>
          <%= link_to "レビューを見る", admin_review_path(review.customer.id), class: "btn btn-warning" %>
        <% end %>
        <%= paginate reviews %>
      </div>
    </div>
  </div>
</div>