<div class="container">
  <h2 class="mb-4">会員登録情報</h2>
    <div class="row">
      <div class="col-md-3">
        <table>
          <tr>
            <th>会員ID</th>
            <td><%= @customer.id %></td>
          </tr>
          <tr>
            <th>名前</th>
            <td><%= @customer.name %></td>
          </tr>
          <tr>
            <th>自己紹介</th>
            <td><%= @customer.introduction %></td>
          </tr>
          <tr>
            <th>会員ステータス</th>
            <td><% if @customer.is_deleted == false %>
                 <%= "有効" %>
                <% else %>
                 <%= "退会" %>
                <% end %>
            </td>
          </tr>
        </table>
        <div class="mt-4">
          <%= link_to "編集する", edit_admin_customer_path(@customer), class: "btn btn-success" %>
        </div>
      </div>
      <div class="col-md-9">
        <h4>投稿したレビュー一覧</h4>
        <% @reviews.each do |customer| %>
          <%= image_tag review.get_image(250, 250) %>
          <%= review.item_name %>
           <%= review.item_price.to_s(:delimited) %>円
          <%= render "public/reviews/rate", review: review %>
          <%= link_to "レビューを見る", admin_review_path(review.customer.id) %>
        <% end %>
      </div>
    </div>
  </div>
</div>