<div class="container">
  <div class="row">
    <h3 class="mb-4">レビュー一覧（全<%= @reviews.count %>件）</h3>
    <div class="col-md-10">
      <% @reviews.each do |review| %>
        <span>投稿者</span><%= link_to admin_customer_path(review.customer.id), class: "text-decoration-none" do %>
                             <%= review.customer.name %>さん
                           <% end %><br>
       <%= image_tag review.get_image(200, 200) %><br>
       <%= review.item_name %><br>
       <%= review.item_price.to_s(:delimited) %>円
       <%= render "public/reviews/rate", review: review %>
       <%= link_to "レビューを見る", admin_review_path(review.id), class: "btn btn-warning" %>
      <% end %>
      <%= paginate @reviews %>
    </div>
  </div>
</div>