<div class="container">
  <div class="row">
    <h3>レビュー一覧（全<%= @reviews.count %>件）</h3>
    <% @reviews.each do |review| %>
      <%= link_to admin_customer_path(review.customer.id) do %>
        <%= review.customer.name %>
      <% end %>
      <%= image_tag review.get_image(200, 200) %>
      <%= review.item_name %>
      <%= render "public/reviews/rate", review: review %>
      <%= link_to "レビューを見る", admin_review_path(review.id), class: "btn btn-warning" %>
    <% end %>
  </div>
</div>