<table>
  <tr>
    <th>タグ検索</th>
  </tr>
  <% @tags.each do |tag| %>
   <tr>
    <td><%= link_to tag_path(tag.id) do %>
          <%= tag.name %>
        <% end %>
    </td>
   </tr>
  <% end %>
</table>

<h2>レビュー一覧</h2>（全<%= @reviews.count %>件）
<%= form_with(url: search_reviews_path, local: true, method: :get ) do |form| %>
  <%= form.text_field :keyword %>
  <%= form.submit "検索" %>
<% end %>

<div class="text_box">
 <% @reviews.each do |review| %>
  <%= link_to customer_path(review.customer.id) do %>
    <%= review.customer.name %>
  <% end %>
  <%= image_tag review.get_image(200, 200) %>
  <%= review.item_name %>
 
  <div id="rate_<%= review.id %>"></div>
  <script>
    $(document).on('turbolinks:load', function() {
      let elem = document.querySelector('#rate_<%= review.id %>');
      if (elem == null) return;
  
      elem.innerHTML = "";
      let opt = {  
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        score: "<%= review.rate %>",
        readOnly: true,
      };
      raty(elem, opt);
    });
  </script>
  <div class="review">
   <%= review.review %>
  </div>
  
  <%= link_to "レビューを見る", review_path(review.id) %>
 <% end %>
</div>