<div class="container">
  <h3 class="title mb-4">レビュー一覧<i class="fas fa-dog"></i>（全<%= @reviews.count %>件）</h3>
    <%= form_with(url: search_reviews_path, local: true, method: :get ) do |form| %>
      <%= form.text_field :keyword, placeholder: "商品の名前" %>
      <%= form.submit "検索" %>
    <% end %>
   <div class="row">
    <div class="col-md-3">
     <div class="mt-3">
      <%= render 'tag', tags: @tags %>
     </div>
    </div>
    <div class="row">
     <% @reviews.each do |review| %>
      <div class="col-md-4 col-6 mb-3">
       <span>投稿者</span><%= link_to customer_path(review.customer.id), class: "text-decoration-none" do %>
                             <%= review.customer.name %>さん
                           <% end %>
       <div id="favorite_<%= review.id %>">
        <%= render "public/favorites/favorite", review: review %>
       </div>
       <div class="image">
         <%= image_tag review.get_image(200, 200) %>
       </div>
       <%= review.item_name %><br>
       <%= review.item_price.to_s(:delimited) %>円
       <%= render "rate", review: review %>
       <%= link_to "レビューを見る", review_path(review.id), class: "btn btn-warning" %>
      </div>
     <% end %>
     <%= paginate @reviews %>
    </div>
  </div>
</div>
