<div class="container">
   <div class="form-row">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto">
      <h2 class="title mx-auto mb-4"><i class="fas fa-paw"></i>レビュー投稿<i class="fas fa-paw"></i></h2>
      <%= form_with model: @review, url: reviews_path, local: true do |f| %>
       <%= render 'layouts/error_messages', model: @review %>
        <div class="form-group row">
          <label for="inputimage">商品画像</label>
          <%= f.file_field :image, accept: "image/*", class: "ml-3" %>
        </div>
        <div class="form-group row">
          <label for="inputitemname">商品名</label>
          <%= f.text_field :item_name, autofocus: true, class: "form-control" %>
        </div>
        <div class="form-group row d-flex flex-row">
          <label for="inputitemprice">金額</label>
          <%= f.number_field:item_price, placeholder: "数字のみ記入してください", class: "form-control" %>
        </div>
        <div class="form-group row">
          <label for="inputdogbreed">商品を試した犬種<i class="fas fa-dog"></i></label>
          <%= f.text_field :dog_breed, class: "form-control" %>
        </div>
        <div class="form-group row">
          <label for="inputtag">タグ</label>
          <%= f.collection_select :tag_id, Tag.all, :id, :name,{prompt: "--選択してください--"}, class: "ml-3" %>
        </div>
        <div class="form-group row">
          <label for="inputreview">レビュー</label>
          <%= f.text_area :review, placeholder: "商品のレビューをここに自由にお書きください", class: "form-control" %>
        </div>
        <div class="form-group row" id="rate">
          <label for="inputrate">評価　※投稿した後この5段階評価は変更できません</label>
          <%= f.hidden_field :rate, id: :review_rate %>
          <div id="post_raty", class="ml-3"></div>
      　</div>
　      <script>
          $(document).on('turbolinks:load', function() {
            let elem = document.querySelector('#post_raty');
            if (elem == null) return;

            elem.innerHTML = ""
            let opt = {
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              scoreName: 'review[rate]',
            };
            raty(elem, opt);
          });
        </script>
        <div class="text-center mb-4">
          <%= f.submit "投稿する", class: "btn btn-primary" %>
        </div>
       <% end %>
    </div>
   </div>
</div>
