<%= form_with(url: search_reviews_path, local: true, method: :get ) do |form| %>
  <%= form.text_field :keyword %>
  <%= form.submit "検索" %>
<% end %>

<% @reviews.each do |review| %>
  <%= link_to customer_path(customer.id) do %>
    <%= review.customer.name %>
  <% end %>
  <%= image_tag review.get_image(200, 200) %>
  <%= review.item_name %>
  <%= review.item_price.to_s(:delimited) %>円
  <div id="favorite_<%= review.id %>">
    <%= render "favorites/favorite", review: review %>
  </div>
 
  <%= render "rate", review: review %>
  
  <%= link_to "レビューを見る", review_path(review.id) %>
<% end %>