<div class="container">
 <h3 class="title"><%= @tag.name %>一覧（全<%= @reviews.count %>件）</h3>
 <%= render "public/reviews/search" %>
 <%= render "public/reviews/tag", tags: @tags %>
 <div class="row">
  <%= render "public/reviews/index", reviews: @reviews %>
 </div>
</div>