<div class="container">
  <div class="form-row">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto">
      <h2 class="title"><i class="fas fa-paw"></i>ログイン<i class="fas fa-paw"></i></h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group row">
          <label for="inputemail">メールアドレス</label>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>
        <div class="form-group row">
          <label for="inputpassword">パスワード</label>
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        </div>
        <div class="text-right">
          <%= f.submit "ログイン", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="text-center mt-3">
    <p>会員登録がお済みでない方</p>
    <%= link_to "こちら", new_customer_registration_path %>　から新規登録を行ってください。
  </div>
</div>
