<!DOCTYPE html>
<html>
  <head>
    <title>Wanwangoodstyousa</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-md navbar-light">
        <div class="container">
          <%= link_to root_path, class: "title" do %>
           <i class="fas fa-paw"></i>わんわん<i class="fas fa-paw"></i>
          <% end %>
          <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto mb-3">
             <% if admin_signed_in? %>
                <li class="nav-item mt-3 mr-4">
                  <%= link_to "レビュー一覧", admin_root_path, class: "text-decoration-none text-dark" %>
                </li>
                <li class="nav-item mt-3 mr-4">
                  <%= link_to "会員一覧", admin_customers_path, class: "text-decoration-none text-dark" %>
                </li>
                <li class="nav-item mt-3 mr-4">
                  <%= link_to "タグ一覧", admin_tags_path, class: "text-decoration-none text-dark" %>
                </li>
                <li class="nav-item mt-3 mr-4">
                  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "text-decoration-none text-dark" %>
                </li>
             <% elsif customer_signed_in? %>
                <li class="nav-item mt-3 mr-4">
                  <%= link_to "マイページ", customer_path(current_customer), class: "text-decoration-none text-dark" %>
                </li>
                <li class="nav-item mt-3 mr-4">
                  <%= link_to "レビュー一覧", reviews_path, class: "text-decoration-none text-dark" %>
                </li>
                <li class="nav-item mt-3 mr-4">
                  <%= link_to "レビュー投稿", new_review_path, class: "text-decoration-none text-dark" %>
                </li>
                <li class="nav-item mt-3 mr-4">
                  <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "text-decoration-none text-dark" %>
                </li>
             <% else %>
                <li class="nav-item mt-3 mr-4">
                  <%= link_to "About", about_path, class: "text-decoration-none text-dark" %>
                </li>
                <li class="nav-item mt-3 mr-4">
                  <%= link_to "レビュー一覧", reviews_path, class: "text-decoration-none text-dark" %>
                </li>
                <li class="nav-item mt-3 mr-4">
                  <%= link_to "新規登録", new_customer_registration_path, class: "text-decoration-none text-dark" %>
                </li>
                <li class="nav-item mt-3 mr-4">
                  <%= link_to "ログイン", new_customer_session_path, class: "text-decoration-none text-dark" %>
                </li>
             <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>
</body>
  </body>
</html>
